html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
    color: darkred;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

#bglogin {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto; 
}

.move-down {
    margin-top: 20px; 
}
